name: Deploy Changes

on:
  push:
    branches:
      - main
    paths: 
      - azure/**
      - aws/**

#Special permissions required for OIDC authentication and tagging
permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  deploy-azure:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    environment: production
    env:
      ARM_CLIENT_ID: ${{ secrets.AZURE_CLIENT_ID }}
      ARM_CLIENT_SECRET: ${{ secrets.AZURE_CLIENT_SECRET }}
      ARM_TENANT_ID: ${{ secrets.AZURE_TENANT_ID }}
      ARM_SUBSCRIPTION_ID: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
      HUSKY: 0
    defaults:
      run:
        working-directory: ./azure
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: '0'  
        
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
    
      - name: Initialize Terraform
        run: terraform init

      - name: Apply changes
        run: terraform apply -auto-approve

  deploy-aws:
    runs-on: ubuntu-latest
    permissions: 
      contents: write
    environment: production
    env:
      HUSKY: 0
    defaults:
      run:
        working-directory: ./aws
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
        with:
          fetch-depth: '0'  
      
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-2
        
      - name: Set up Terraform
        uses: hashicorp/setup-terraform@v3
    
      - name: Initialize Terraform
        run: terraform init

      - name: Apply changes
        run: terraform apply -auto-approve
      
  tag-version:
    needs: [deploy-azure, deploy-aws]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Bump version and push tag
        uses: anothrNick/github-tag-action@1.71.0 # Don't use @master or @v1 unless you're happy to test the latest version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }} # if you don't want to set write permissions use a PAT token
          WITH_V: true
